.cardFormat {
    width: 20%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; //Yatayda ortalamanın yolu.
    margin-top: -15px;
    
  }